.taskTable {
  border-collapse: collapse;
  display: flex;
  flex-wrap: wrap;
  &-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    &-row {
      padding: 5px;
      font-size: 13px;
      font-variant: small-caps;
      font-weight: 200;

      @media screen and(max-width:770px) {
        font-size: 12px;
      }
    }
  }
}
